body {
    background-color: #fcfff8;   
}

#header {
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

#header button{

    background-color:aquamarine;
    font-weight: 450;
    padding: 18px;
    margin: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

#header button:hover{
    transform: scale(1.05);
    background-color:honeydew;

}

#breadcrumb {
    border: 2px solid black;
    padding: 2px;
    border-radius: 5px;
    margin: 10px;
    display: flex;
}
#breadcrumb a{
    
    background-color: tomato;
    padding: 10px;
    border: 1px solid black;
    border-right: 4px solid black;
    border-radius: 7px 14px;
    margin-right: 5px;
    margin-left: 3px;
}
#breadcrumb a:hover {
    cursor: pointer;
    background-color:aliceblue;
}

#container {
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    display: flex;
    /* background-color:a; */
}



.folder {
    border: 2px solid black;
    background-color: cornsilk;
    border-radius: 5px;
    padding: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 7px;
    height: 120px;
    width: 200px;
    /* box-shadow: 1px 1px 5px  black; */
}

.folder span{
    
    margin: 3px;
    padding: 3px;
    margin-bottom: 6px;
    margin-top: 1px;
    cursor: pointer;
}

.folder span:hover {
    text-decoration:underline;
}

.folder div[purpose='name'] {
    padding: 20px;
    margin: 5px;
    margin-top: 20px;
    background-color: gold;
    border-radius: 16px 32px;

}

.text-file {
    border: 2px solid black;
    background-color: #ffe5ec;                               
    border-radius: 5px;
    padding: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 7px;
    height: 120px;
    width: 200px;
}

.text-file span{
    
    margin: 3px;
    padding: 3px;
    margin-bottom: 6px;
    margin-top: 1px;
    cursor: pointer;
}

.text-file span:hover {
    text-decoration:underline;
}

.text-file div[purpose='name'] {
    padding: 20px;
    margin: 5px;
    margin-top: 20px;
    background-color: #ff8fab;                             
    border-radius: 16px 32px;

}

.album {
    border: 2px solid #000000;
    background-color: #e7eaf6;                               
    border-radius: 5px;
    padding: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 20px;
    margin-top: 10px;
    margin-bottom: 7px;
    height: 120px;
    width: 200px;
}

.album span{
    
    margin: 3px;
    padding: 3px;
    margin-bottom: 6px;
    margin-top: 1px;
    cursor: pointer;
}

.album span:hover {
    text-decoration:underline;
}

.album div[purpose='name'] {
    padding: 20px;
    margin: 5px;
    margin-top: 20px;
    background-color: #a2a8d3;                             
    border-radius: 16px 32px;

}

#app {
    border: 2px solid black;
    margin: 10px;
    border-radius: 5px;
}

#app-title-bar {
    padding: 5px;
    display: flex;
    height: 27px;
    background-color: #E3FDFD ;
}


#app-menu-bar {
    display: flex;
    height: 40px;
    background-color: #CBF1F5;
}

#app-body {
    display: flex;
    height: 500px;
    background-color:#A6E3E9 ;
}

#app-title {
    width: 94%;
    text-align: center;
}

.material-icons {
    cursor: pointer;
}

.notepad-menu{
    border-top: 1px solid black;
    width: 100%;
}

.notepad-menu span{
    border: 2px solid white;
    border-radius: 3px;
}

.notepad-menu select {
    height: 25px;
    border-radius: 3px;
}

.notepad-menu input[type = "file"]{
    height: 25px;

}

.notepad-menu *{
    margin: 5px 10px;
    vertical-align: bottom;
    height: 25px;
    cursor: pointer;
}

.notepad-menu span:hover{
    transform:scale(1.1);
    background-color: #e9fcfc;
    border-radius: 4px;

}

.notepad-menu [pressed=true]{
    transform:scale(1.1);
    background-color: #e9fcfc;
    border-radius: 4px;

}

.notepad-menu input[type="color"] {
    width: 30px;
    border-radius: 5px 10px;
}

.notepad-menu input[action=upload] {
    display: none;
}

.notepad-body {
    height: 100%;
    width: 100%;
}

.notepad-body textarea{
    height: 100%;
    width: 100%;
    background-color:#A6E3E9 ;
}

a[purpose="download"] {
    display: none;
}

#win-actions span:hover{
    transform: scale(1.1);
    color:rgb(80, 74, 74);
    background-color: white;
    border-radius: 50%;
}


.album-menu{
    border-top: 1px solid black;
    width: 100%;
}

.album-menu span{
    border: 2px solid white;
    border-radius: 3px;
}

.album-menu select {
    height: 25px;
    border-radius: 3px;
}

.album-menu input[type = "file"]{
    height: 25px;

}

.album-menu *{
    margin: 5px 10px;
    vertical-align: bottom;
    height: 25px;
    cursor: pointer;
}

.album-menu span:hover{
    transform:scale(1.1);
    background-color: #e9fcfc;
    border-radius: 4px;

}

.album-menu [pressed=true]{
    transform:scale(1.1);
    background-color: #e9fcfc;
    border-radius: 4px;

}

.album-menu input[type="color"] {
    width: 30px;
    border-radius: 5px 10px;
}

.album-body {
    height: 100%;
    width: 100%;
    padding: 8px;
}






.picture-list {
    border: 1px solid black;
    height: 20%;
    margin-bottom: 8px;
    display: flex;
    padding-left: 5px;
    
}

.picture-list img{
    height: 80px;
    width: 120px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    
}

.picture-list img:hover{
    transform: scale(1.06);
    border: 1px solid black;  
}

.picture-list img[pressed=true]{
    transform: scale(1.05);
    border: 1px solid white; 
    box-shadow: 0px 0px 10px white; 
}

.picture-view {
    border: 1px solid black;
    height: 74%;
    display: flex;
}

.picture-view *{
    border: 1px solid red;
}

.picture-view .picture-main{
    height: 100% ;
    width: 100%;
    display: flex;
    justify-content: center;
}

.picture-view .picture-main img {
    height: 90%;
    margin: 15px;
    width: 70%;
}

.picture-view .move-left {
    width: 10%;
    display: flex;
    justify-content: center;
    height: max-content;

}

.picture-view .move-right {
    width: 10%;
    display: flex;
    justify-content: center;
    height: max-content;
}

